* {
margin: 0;
padding: 0;
}
.colm {
display: flex;
height: 25vh;
}
/* Estilo para la caja de inicio */
.inicio {
height: 20vh;
background-color: red;;
border: 5px solid black ;
margin: 5vh;
border-radius: 50%;
text-justify: center;
text-align: center;
font-size: 50px;
display: flex;
align-items: center;
justify-content: center;
}
/* Estilo para la caja verde */
.colm1verde {
width: 33.333333vw;
background-color: green;
color : white;
height: 23.5vh;
border: 5px solid rgb(215, 6, 134);
margin: 1%;
border-radius: 50%;


}
/* Estilo para la caja azul */
.colmazul {
width: 33.333333vw;
background-color: blue;
color : white;
height: 23.5vh;
border: 5px solid rgb(46, 211, 60);
margin: 1%;
border-radius: 50%;


}
/* Estilo para la caja amarilla */
.colmamarillo {
width: 33.333333333vw;
background-color: yellow;
height: 23.5vh;
border: 5px solid rgb(62, 6, 215);
margin: 1%;
border-radius: 50%;
}


.colm2 {
display: flex;
height: 25vh;
}
/* Estilo para la caja violeta */
.violeta {
height: 20vh;
width: 50vw;
background-color: violet;
border: 5px solid rgb(15, 251, 255);
margin: 5vh;
border-radius: 10%;
}
/* Estilo para la caja marrón */
.marron {
height: 20vh;
width: 50vw;
background-color: brown;
border: 5px solid rgb(255, 15, 251);;
margin: 5vh;
border-radius: 10%;
}
/* Estilo para la caja final */
.fin {
height: 20vh;
background-color: aquamarine;
border: 5px solid rgb(251, 255, 15);
margin: 5vh;
}
/* Estilo para el texto dentro del marquee */
.marquee {
font-size: 30px;
color: black;
margin-top: 10px;
margin-bottom: 10px;
}