body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        form {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            box-sizing: border-box;
        }
        .input {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            font-size: 18px;
            border: 1.5px solid #000;
            border-radius: 0.5rem;
            box-shadow: 2.5px 3px 0 #000;
            outline: none;
            transition: ease 0.25s;
            box-sizing: border-box;
        }
        .input:focus {
            box-shadow: 5.5px 7px 0 black;
        }
        button {
            padding: 15px 30px;
            font-size: 18px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        button:hover {
            background-color: #45a049;
        }